body {
    text-align: left;
    background-color: darkblue;
    font-size: 25px;
}

.header-home {
    background-color: black;
    color: white;
    width: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.very-nice {
    color: lightcoral
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    background-color: black;
    width: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 35px;
}

.link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    background-color: blue;
    width: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 35px;
}

.link.one {
    background-color: blue;
}

.link.two {
    background-color: blueviolet;
}